{% extends 'base.html' %}
<!-- This is he footer section -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Coming Soon...</h3>
                <div class="app-logo">
                    <img src="{% static 'img/android1.png' %}" alt="android" />
                    <img src="{% static 'img/ios1.png' %}" alt="ios" />
                </div> 
            </div>
            <div class="footer-col-2">
                <h1>Mp3Cat&#8482; </h1><br>
                <p>
                    Our Purpose Is To Sustainably Make the Pleasure and
                    Benefit of Music Accessible for Many to enjoy the latest trend.
                </p>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2020 Mp3Claw. All Right Reserved</p>
    </div>
</div>
<!-- footer section ends -->